<% provide(:title, "Log in") %>
<style>
input {
  background-color: #E0F2F1;
  border: none;
  height: 30px;
  width: 350px;
  padding-left: 10px;
}

.submit {
  width: 360px;
}

.field-wrapper {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

.new_user {
  display: flex;
  flex-direction: column;
}

</style>
<h1>Log in</h1>

<div>
  <% if @error_message.present? %>
    <% print '----------------- ERRORS -----------------' %>
    <%= @error_message %>
    <% @error_message = nil %>
  <% end %>
  <%= form_for(:session, url: login_path) do |f| %>
    <div class="field-wrapper">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
    </div>

    <div class="field-wrapper">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>

    <div class="field-wrapper">
      <%= f.submit "Log in", class: "submit" %>
    </div>
  <% end %>

  <p>New user? <%= link_to "Sign up now!", signup_path %></p>
</div>
