<!DOCTYPE html>
<html>
  <head>
    <title>MockTrial</title>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <style>
      body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #B2DFDB;
        color: #4E342E;
        font-family: verdana, arial, helvetica, sans-serif;
        font-size: 13px;
        line-height: 18px;
        margin: 0px;
      }
    </style>
    <div id='header'></div>
    <%= yield %>
    <div id='app'></div>
    <div id='footer'></div>
    <%= javascript_include_tag *webpack_asset_paths("index", extension: 'js') %>
    <%= stylesheet_link_tag *webpack_asset_paths("headerStyles", extension: 'css') %>
    <%= stylesheet_link_tag *webpack_asset_paths("indexStyles", extension: 'css') %>
  </body>
</html>
